[flake8]
# Mesmo limite de linha do Black
max-line-length = 100
# E203 e E701 conflitam com a formatação do Black (recomendação da documentação do Black)
extend-ignore = E203, E701
exclude = .venv, .git, __pycache__, .ipynb_checkpoints
